[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.discordpy]
git = "https://github.com/Rapptz/discord.py.git"
ref = "0cc67e58eded2dd83841d6e4f62a4bc626348fb2"
